sudo: false

language: c

compiler:
  - clang
  - gcc

script:
  - make -f Makefile.bootstrap
  - ./configure
  - make

addons:
  coverity_scan:
    project:
      name: "ltratt/extsmail"
    notification_email: laurie@tratt.net
    build_command_prepend: "./configure; make clean"
    build_command:   "make"
    branch_pattern: coverity_scan
