Source: extsmail
Section: mail
Priority: optional
Maintainer: Olivier Girondel <olivier@biniou.info>
Build-Depends: debhelper (>= 11), bison, flex
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/ltratt/extsmail
Homepage: https://tratt.net/laurie/src/extsmail/

Package: extsmail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enables the robust sending of e-mail to external commands
 extsmail masquerades as the standard UNIX sendmail program, reading
 messages, and later piping them to user-defined commands.
 .
 In a sense, extsmail can be thought of as a very simple "tiny" sendmail
 (Think SSMTP, UUCP, ...)
 .
 A typical use is to allow e-mail to be piped via ssh to external servers
 running a full sendmail-compatible MTA. extsmail is designed to have
 sensible defaults, and configuring it is a one-off, quick job.
